* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fafafa;
}

h1 {
  font-size: 32px;
  color: #000;
  text-align: center;
}

h2 {
  font-size: 20px;
  color: #000;
}

.heading {
  padding: 90px 0 8px 0;
}

.solid {
  width: 70px;
  height: 3px;
  background-color: #ec715f;
  margin: 0 auto;
}

.text {
  text-align: center;
  margin: 30px 0;
}

header {
  width: 100%;
  height: 70px;
  background-color: #ec715f;
  margin: 0 auto;
}

nav {
  width: 1024px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 auto;
}

.header-logo {
  display: block;
  margin-right: auto;
}

.header-logo > img {
  height: 70px;
}

.nav-list {
  display: flex;
  text-align: right;
  font-size: 0;
}

.nav-list-item {
  list-style: none;
  display: block;
  margin: 0 30px;
  font-size: 16px;
}

/* main-visual */

.main-visual {
  width: 100%;
  height: 650px;
  background-image: url(img/mv.png);
  background-position: center;
  background-size: 100%;
}

.main-visual-content {
  text-align: center;
  padding-top: 200px;
}

.main-visual-content h1 {
  font-size: 64px;
  color: #fafafa;
}

.main-visual-content p {
  font-size: 20px;
  color: #fafafa;
  padding-top: 10px;
}

/* portfolio */

.portfolio {
  width: 100%;
  background-color: #eceff1;
}

.portfolio-content {
  width: 920px;
  margin: 0 auto;
}

.portfolio-image {
  width: 920px;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 90px;
}

.portfolio-image-item {
  width: 300px;
  height: 250px;
  background-size: cover;
  background-position: center;
  margin-right: 10px;
}

.portfolio-image-item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-image-item:nth-child(1) {
  background-image: url(img/sketch.jpg);
  margin-bottom: 10px;
}

.portfolio-image-item:nth-child(2) {
  background-image: url(img/websuku.png);
  margin-bottom: 10px;
}

.portfolio-image-item:nth-child(3) {
  background-image: url(img/write.jpg);
  margin-bottom: 10px;
}

.portfolio-image-item:nth-child(4) {
  background-image: url(img/webcamp.png);
}

.portfolio-image-item:nth-child(5) {
  background-image: url(img/talk.jpg);
}

.portfolio-image-item:nth-child(6) {
  background-image: url(img/webcamp-mother.png);
}

/* feature */

.feature {
  width: 100%;
}

.feature-content {
  width: 980px;
  margin: 0 auto;
}

.feature-strength {
  display: flex;
  padding-bottom: 90px;
}

.strength {
  width: 320px;
  margin-right: 10px;
}

.strength i {
  font-size: 60px;
  position: relative;
  left: 130px;
  margin: 15px 0;
}

.strength h2 {
  text-align: center;
  padding: 10px 0;
}

.strength p {
  font-size: 16px;
  color: #000;
  text-align: left;
}

.strength:last-child {
  margin-right: 0;
}

/* profile */

.profile {
  width: 100%;
  background-color: #eceff1;
}

.profile-content {
  width: 1024px;
  margin: 0 auto;
}

.myprofile {
  display: flex;
  padding-bottom: 90px;
}

.profile-image {
  width: 512px;
  text-align: center;
}

.profile-image img {
  border-radius: 50%;
}

.profile-introduction {
  width: 512px;
}

.profile-introduction p {
  margin-top: 5px;
}

.skill {
  margin-top: 20px;
}

/* contact */

.contact {
  width: 100%;
}

.contact-content {
  width: 800px;
  margin: 0 auto;
}

.contact-form {
  display: flex;
  padding-bottom: 90px;
}

.contact-phone {
  width: 400px;
  margin: 0 auto;
  text-align: center;
  display: block;
}

.phone {
  display: inline-block;
  text-align: left;
}

.tel {
  margin-top: 20px;
}

.phone p {
  margin-top: 5px;
}

.contact-sns {
  width: 400px;
  margin: 0 auto;
  text-align: center;
  display: block;
}

.sns {
  display: inline-block;
  text-align: left;
}

.sns h2 {
  margin-bottom: 5px;
}

.sns i {
  font-size: 50px;
  margin-right: 20px;
}

.sns i:last-child {
  margin-right: 0;
}

/* footer */

footer {
  width: 100%;
  height: 60px;
  background-color: #ec715f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text {
  font-size: 16px;
  color: #fafafa;
}
